.desktop-menu {
    display: none;
}

.hambur {
    position: absolute;
    left: var(--menu-x-margin);
    padding-top: 0.25rem;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    padding: var(--menu-y-margin) var(--menu-x-margin);
}

.menu-items {
    font-family: var(--main-font);
    display: flex;
    column-gap: 1.95rem;
    font-size: 0.94rem;
}

.menu-items li a{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.menu-items li a:hover .underline {
    transition:all 1s ease;
    height: 2px;
    background-color:var(--color-white);
    width: 50%;
    margin: auto;
}

@media (min-width: 37.5em) { /* 600px */

    .desktop-menu {
        display: block;
    }

    .hambur {
        display: none;
    }

    .menu-items {
        color: var(--color-white);
        column-gap: 2rem;
    }
}