
.content {
    padding: 3rem 2rem 2.7rem;
}

.content h1 {
    font-family: var(--main-font);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.357rem;
    text-transform: uppercase;
}

.content p {
    font-family: var(--main-font);
    color: var(--color-dark-gray);
    font-size: 0.95rem;
    line-height: 1.35rem;
    font-weight: 500;
    margin-top: 1rem;
}

.about img {
    margin: auto;
}

@media (min-width: 30em) /* 480px */ {
    .content h1,
    .content p {
        text-align: center;
    }
}

@media (min-width: 64em) /* 1024px */ {
    .about {
        display: grid;
        /* to create a pixel perfect */
        grid-template-columns: repeat(36, minmax(auto, 1fr));
    }

    .img-left {
        grid-column: 1 / 11;
    }

    .content {
        padding: 1rem 1.95rem 0;
        grid-column: 11 / 26;
    }

    .content h1,
    .content p {
        text-align: left;
    }

    .content h1 {
        font-size: 1.1rem;
    }

    .content p {
        margin-top: 0.75rem;
    }
    .img-right {
        grid-column: 26 / -1;
    }
    
    /* 
        provided images are not appropriate
    */
    .about img {
        margin: 0;
    }
}


@media (min-width: 75em) { /* 1200px */
    .content {
        padding-top: 2rem;
    }
}

@media (min-width: 90em) /* 1440px */ {
    /* 
        provided images are not appropriate
    */
    .about img {
        width: 100%;
        height: 100%;
    }

    .content {
        padding-top: 4rem;
    }

}