.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative;
}

.controls {
    display: flex;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    justify-self: flex-end;
    align-self: flex-end;
    z-index: 1;
}


.controls svg {
    width: 1rem;
    height: 1rem;
}

.controls button{
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    outline: none;
}

.controls button:hover {
    background-color: var(--color-gray-black);
}


@media (min-width: 75em) { /* 1200px */
    
    .slider {
        grid-template-columns: repeat(36, minmax(auto, 1fr));
        grid-template-rows: 1fr;
    }

    .controls {
        grid-row: 1 / -1;
        grid-column: 22 / 26;
        justify-self: flex-start;
        align-self: flex-end;
        width: 100%;
    }

    .controls svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .controls button{
        height: 5rem;
        width: 50%;
    }
}

