.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    position: relative;
}

.slide {
   grid-row: 1 / -1;
   grid-column: 1 / -1;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(2, auto);
}


.image-container {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

/* provided images are not appropriate*/
.image-container img{
    width: 100%;
}

.controls {
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    height: 3.5rem;
    width: 7rem;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    justify-self: flex-end;
    align-self: flex-end;
    z-index: 1;
}

.controls svg {
    width: 1rem;
    height: 1rem;
}
.controls button{
    padding: 1rem 0.95rem 1rem 1.125rem;
    outline: none;
}

.content {
    padding: 3.75rem 2rem 4.25rem;
    grid-row: 2 / -1;
    grid-column: 1 / -1;
}

.title {
    font-family: var(--main-font);
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.desc {
    font-family: var(--main-font);
    color: var(--color-dark-gray);
    font-size: 0.95rem;
    margin-top: 0.75rem;
    line-height: 1.4rem;
}

.call-to-action {
    margin-top: 2.25rem;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 0.97rem;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    display: flex;
    column-gap: 1.125rem;
    align-items: center;
}

@media (min-width: 75em) { /* 1200px */
    
    .slider {
        grid-template-columns: repeat(36, minmax(auto, 1fr));
        grid-template-rows: 1fr;
    }

    .slide {
        grid-template-columns: repeat(36, minmax(auto, 1fr));
        grid-template-rows: 1fr;
    }

    .image-container {
        grid-row: 1 / -1;
        grid-column: 1 / 22;
    }

    .content {
        grid-row: 1 / -1;
        grid-column: 24 / 35;
    }

    .controls {
        grid-row: 1 / -1;
        grid-column: 22 / 26;
        justify-self: flex-start;
        align-self: flex-end;
        column-gap: 0.75rem;
        height: 5rem;
        width: 100%;
    }

    .controls svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .controls button{
        padding: 1rem 1rem 1rem 1.65rem;
    }
    
    .call-to-action {
        margin-top: 1rem;
    }
}

@media (min-width: 90em) { /* 1440px */
    .content {
        padding: 7.65rem 2rem 0 1.5rem;
    }
    
    .title {
        font-size: 2.65rem;
        line-height: 2.7rem;
    }
    
    .desc {
        margin-top: 1.5rem;
    }
}
